body {
    text-align: center;
    font-family: "Arial";
    color: #333;
    font-size: 16px;
    background: #1e1f24;
    margin: 0;
    padding: 0;
}

#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid red;
    margin: 0 auto;
}

#container h1 {
    font-size: 100px;
}

#cabecera {
    background: #37488b;
    color: white;
    margin: 0;
    padding: 0.5em 0 0.5em 2em;
    font-weight: bold;
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.5);
}

#cabecera #logo {
    width: 20px;
    vertical-align: middle;
}

#cabecera #Tagline {
    font-weight: normal;
    font-size: 0.8em;
    padding: 0 0 0 1em;
}

#post {
    background: white;
    padding: 1em;
}

#footer {
    background: #777;
    color: white;
    text-align: center;
    padding: 0.5em;
}